body{
}
#carre{
width:75%;
height:40px;
background:#56D229;
float: left;
}
#carre1{
width:25%;
height:40px;
background:#0122F5;
float:left;
}
#carre2{
width:33%;
height:150px;
background:#BD6018;
float:left;
}
#carre3{
width:33%;
height:75px;
background:#F27210;
float:left;
}
#carre4{
width:33%;
height:75px;
background:#519AB0;
float:left;
}
#carre5{
width:22%;
height:75px;
background:#E9DC24;
float:left;
}
#carre6{
width:22%;
height:75px;
background:#24E9DC;
float:left;
}
#carre7{
width:22%;
height:75px;
background:#DA2E2E;
float:left;
}
#carre8{
width:100%;
height:250px;
background:#252F62;
float:left;
}
